<!DOCTYPE html>
<html
	lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base}">
<head>
	<script defer src="/js/cart.js"></script>
</head>

<body>

	<th:block>
		<main layout:fragment="content">
			<div class="container">
				<div class="row">
					<div class="col s12">
						<h2 class="center-align text-3xl my-4">장바구니</h2>
					</div>
				</div>

				<div class="row">
					<div class="col s12 m9">
						<div class="card">
							<div class="card-content">
								<span class="card-title">아이템</span>
								<table class="highlight">
									<thead>
										<tr>
											<th>Item</th>
											<th>Price</th>
											<th class="center-align">Quantity</th>
											<th>Total</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<!-- Example Cart Item 1 -->
										<tr th:each="item : ${ list }">
											<td>
												<div class="flex items-center gap-2">
													<img th:src="${ item.product.imageUrl }" class="max-w-[4rem] aspect-square">
													<div>
														<strong th:text="${ item.product.name }"></strong>
														<!-- <p>Size: M, Color: Black</p> -->
													</div>
												</div>
											</td>
											<td th:text="${#numbers.formatDecimal(item.product.salesPrice, 0, 'COMMA', 0, 'POINT')} + ' 원'">0
												원</td>
											<td class="center-align">
												<div class="input-field w-[80px] mx-auto my-0">
													<input type="number" min="1" class="text-center" th:value="${ item.quantity }" th:data-id="${ item.id }" @change="changeQuantity()">
												</div>
											</td>
											<td
												th:text="${ #numbers.formatDecimal(item.quantity * item.product.salesPrice, 0, 'COMMA', 0, 'POINT') } + ' 원'">
											</td>
											<td>
												<a
													th:data-id="${ item.id }"
													@click="dropProductInCart()"
													class="btn-floating waves-effect waves-light red">
													<i class="material-icons">delete</i>
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div class="col s12 m3">
						<div class="card">
							<div class="card-content">
								<span class="card-title">요약</span>
								<p class="flex justify-between">
									<span>상품 총액</span>
									<strong>9,500 원</strong>
								</p>
								<p class="flex justify-between">
									<span>배달비</span>
									<strong>
										<span th:text="${ #numbers.formatDecimal(deliveryPrice, 0, 'COMMA', 0, 'POINT')}"></span>
										<span>원</span>
									</strong>
								</p>
								<div class="divider my-4"></div>
								<h5 class="flex justify-between">
									<span>총금액</span>
									<strong>
										<span>12,500</span>
										<span>원</span>
									</strong>
								</h5>
							</div>
							<div class="card-action center-align">
								<a class="btn waves-effect waves-light" style="width: 100%;">결제하기</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</th:block>

</body>

</html>