<h2 class="text-3xl my-20">CATEGORY</h2>
<ul class="collapsible hoverable">
	<li class="active">
		<div class="collapsible-header">
			<i class="material-icons">arrow_forward</i>
			<span>상품관리</span>
		</div>
		<div class="collapsible-body p-0">
			<ul class="collection">
				<li class="collection-item">
					<a href="/admin">상품관리</a>
				</li>
				<li class="collection-item">
					<a href="/admin/product/add">상품추가</a>
				</li>
			</ul>
		</div>
	</li>
	<li>
		<div class="collapsible-header">
			<i class="material-icons">arrow_forward</i>
			<span>회원관리</span>
		</div>
		<div class="collapsible-body">
			<span>
				<ul>
					<li>항목없음</li>
				</ul>
			</span>
		</div>
	</li>
</ul>