<h2 class="text-3xl my-20">CATEGORY</h2>
<ul class="collapsible hoverable">
	<li class="active">
		<div class="collapsible-header">
			<span>상품관리</span>
		</div>
		<div class="collapsible-body p-0">
			<ul class="collection">
				<li class="collection-item">
					<div class="flex">
						<i class="material-icons">chevron_right</i>
						<a href="/admin">상품관리</a>
					</div>
				</li>
				<li class="collection-item">
					<div class="flex">
						<i class="material-icons">chevron_right</i>
						<a href="/admin/product/add">상품추가</a>
					</div>
				</li>
			</ul>
		</div>
	</li>
	<li>
		<div class="collapsible-header">
			<span>회원관리</span>
		</div>
		<div class="collapsible-body p-0">
			<ul class="collection">
				<li class="collection-item">
					<div class="flex">
						<i class="material-icons">chevron_right</i>
						<span>항목없음</span>
					</div>
				</li>
			</ul>
		</div>
	</li>
</ul>