<h2 class="text-3xl my-20">
  <span th:if="${kind == '1'}">MAN</span>
  <span th:if="${kind == '2'}">WOMAN</span>
  <span th:if="${kind != '1' and kind != '2'}">NEW PRODUCT</span>
</h2>

<!-- table template -->
<form class="card hoverable">
	<div class="card-content">
		<table class="striped highlight">
			<thead>
				<tr>
					<th></th>
					<th>number</th>
					<th>thumbnail</th>
					<th>name</th>
					<th>createdAt</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${ list }">
					<td>
						<p>
							<label>
								<input type="checkbox" th:value="${ item.id }" />
								<span></span>
							</label>
						</p>
					</td>
					<td>
						<div th:text="${ item.id }"></div>
					</td>
					<td>
						<div class="h-[3rem] aspect-square">
							<img th:src="${ item.imageUrl }" th:value="${ item.imageUrl }">
						</div>
					</td>
					<td>
						<a th:href="@{'/admin/product/' + ${ item.id }}">
							<div class="w-full" th:text="${ item.name }"></div>
						</a>
					</td>
					<td>
						<div th:text="${ #temporals.format(item.createdAt, 'yyyy-mm-dd HH:mm:ss') }"></div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="text-end mt-4">
			<button class="btn waves-effect">商品を消す</button>
			<a class="btn waves-effect" href="/admin/product/add">商品を追加</a>
		</div>
	</div>
</form>