<header>
	<nav>
		<div class="container nav-wrapper">
			<a href="/" class="brand-logo">MJ's SHOP</a>
			<ul class="right hide-on-med-and-down">
				<li><a href="/product/man">MAN</a></li>
				<li><a href="/product/woman">WOMAN</a></li>
				<li>
					<a href="#!" class="dropdown-trigger" data-target="customer">
						<span>CUSTOMER</span>
						<i class="material-icons right">arrow_drop_down</i>
					</a>
				</li>
			</ul>
		</div>
	</nav>

	<!-- dropdown contents -->
	<ul id="customer" class="dropdown-content hoverable">
		<li>
			<a href="/login">
				<span>SIGNIN</span>
				<i class="material-icons">person</i>
			</a>
		</li>
		<li>
			<a href="/signup">
				<span>SIGNUP</span>
				<i class="material-icons">person_add</i>
			</a>
		</li>
		<li>
			<a href="">
				<span>MYPAGE</span>
				<i class="material-icons">storage</i>
			</a>
		</li>
		<li>
			<a href="">
				<span>CART</span>
				<i class="material-icons">shopping_basket</i>
			</a>
		</li>
		<!-- <li class="divider"></li> -->
	</ul>

</header>