<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{ layouts/base }">

<head>
	<title>HOME</title>
</head>

<body>
	<main layout:fragment="content">
		<div class="flex h-full justify-center items-center">

			<form class="card" th:action="@{/login}" method="post">
				<div class="card-content">
					<div class="card-title">
						<h2 class="text-center">ログイン</h2>
					</div>
					<div class="row max-w-96">
						<div class="col s12 input-field">
							<input id="username" name="username" type="text" required>
							<label for="">ユーザーネーム</label>
						</div>
						<div class="col s12 input-field">
							<input id="password" name="password" type="password" required>
							<label for="password">パスワード</label>
						</div>
						<button class="btn wave-effect wave-light w-full" type="submit">
							<span>ログイン</span>
						</button>
						<div th:if="${param.error}">
							<p class="text-red-500">로그인 실패</p>
						</div>
						<div th:if="${param.logout}">
							<p class="text-green-500">로그아웃 성공</p>
						</div>
					</div>
				</div>
			</form>

		</div>
	</main>
</body>

</html>