<h2 class="text-3xl my-20">CATEGORY</h2>
<ul class="collapsible">
	<li class="active">
		<div class="collapsible-header">
			<i class="material-icons">arrow_forward</i>
			<span>MAN</span>
		</div>
		<div class="collapsible-body">
			<span>
				<ul>
					<li>
						<a href="/product/man">男性</a>
					</li>
					<li>
						<a href="/product/woman">女性</a>
					</li>
				</ul>
			</span>
		</div>
	</li>
	<li>
		<div class="collapsible-header">
			<i class="material-icons">arrow_forward</i>
			<span>WOMAN</span>
		</div>
		<div class="collapsible-body">
			<span>
				<ul>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, unde aut quo soluta aliquam doloribus fuga,
					aspernatur tenetur eligendi beatae accusantium facilis pariatur, ratione similique quas in nihil magnam
					minima!
				</ul>
			</span>
		</div>
	</li>
</ul>